* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

a {
  color: white;
}

nav {
  display: flex;
  gap: 16px;
  padding: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#Card-MIXTAPE {
  width: 100%;
  height: 35vh;
  background-image: url("../img/trap-mixtape1.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
  color: rgb(207, 204, 204);
}
#texto-brandao {
  font-size: small;
}

#isso-é-trap {
  font-size: medium;
  display: flex;
  align-items: center;
  justify-content: center;
}

#preço {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#detalhes-álbum {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#traptraptrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: smaller;
}
#six-seven {
  color: red;
}
#cento-em-vinte {
  font-size: smaller;
  color: gray;
}
table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}
thead tfoot {
  background-color: rgb(228 240 245);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}
#table {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  body {
    padding: 20px;
  }
  main {
    width: 80%;
    max-width: 1000px;
  }
  h1 {
    font-size: larger;
    text-align: center;
  }
  p {
    font-size: larger;
  }
  nav {
    gap: 25px;
  }
  nav a {
    font-size: larger;
  }

  #table {
    width: 90%;
    margin: 20px auto;
  }
  caption {
    font-size: larger;
  }
}

@media screen and (min-width: 1025px) {
  body {
    background: linear-gradient(to bottom, #4a4a4a, #1c1c1c);
  }

  header {
    justify-content: space-between;
    padding: 20px 60px;
  }

  #logo {
    font-size: 32px;
  }

  #logo img {
    width: 90px;
  }

  #site-font {
    font-size: 24px;
  }

  #six-seven {
    font-size: 24px;
  }

  #cento-em-vinte {
    font-size: 18px;
  }

  #traptraptrap {
    max-width: 800px;
    margin: auto;
  }

  #Tabela th,
  #Tabela td {
    padding: 10px;
  }

  footer {
    gap: 30px;
    margin-top: 60px;
  }

  footer {
    font-size: 20px;
  }
  #traptraptrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #nomestrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #headerzudo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  #produto-traptrap {
    display: flex;
    justify-content: center;
  }
}
